{{define "main" }}
<div class="articles-page">
    {{ partial "single-toc.html" . }}
    <div class="articles-page-content">
        <section class="articles-post">
            <h1>{{ .Title }}</h1>
            <p>
                <span>By {{ .Params.author }}</span>
                {{ with .Date }}
                    {{ $dateMachine := . | time.Format "2006-01-02T15:04:05-07:00"}}
                    {{ $dateHuman := . | time.Format ":date_long" }}
                    <span> | Published on </span>
                    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
                {{ end }}
            </p>
            {{ with .Params.tags }}
            <p>
                Tags:
                {{ range . }}
                    <span>{{ . }}</span>
                {{ end }}
            </p>
            {{ end }}
            <article class="articles-page-text">
                {{ .Content }}
            </article>
        </section>
    </div>
</div>
{{ end }}
