<link rel="stylesheet" href="css/home-card.css">
<div class="home-card">
    <a href="{{ .Permalink }}" class="home-card-link">
        <div class="home-card-left">
            <h2 class="home-card-title">{{ .Params.title }}</h2>
            <p class="home-card-description">{{ .Params.description }}</p>
            <small class="home-card-authorDate">By {{ .Params.author }} on {{ .Date.Format "Jan 02, 2006"}}</small>
        </div>
        <div class="home-card-right">
            <img src="{{ .Params.image }}" alt="{{ .Title }}">
        </div>
    </a>
</div>